<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <h2>Oops! 404 Page not found</h2>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>